<?xml version="1.0" encoding="utf-8"?>
<manifest package="dth.com.yun"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/ViewBigPicTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".webview.WebViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ViewBigPicTheme">
        </activity>
        <activity
            android:name=".activity.OneMovieDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.DoubanTopActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.BookDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.DoubanMeiziActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.DoubanMeiziDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.StatusBar"
            />
        <activity android:name=".activity.QRCodeActivity">
        </activity>
        <activity android:name=".activity.TestActivity">
        </activity>
    </application>

</manifest>